In [1]:
import tensorflow as tf

In [19]:
x1 = tf.constant(5)
x2 = tf.constant(2)
x3 = tf.constant(3)

mul_result = tf.multiply(x1, x3)
add_result = tf.add(x2, x3)
sub_result = tf.subtract(mul_result, add_result)

print("add_result = {}".format(add_result))
print("mul_result = {}".format(mul_result))
print("sub_result = {}".format(sub_result))

add_result = 5
mul_result = 15
sub_result = 10

In [25]:
import numpy as np
x1 = tf.Variable(5)
x2 = np.array(3, dtype='int32')
x3 = tf.Variable(2)

mul_result = tf.multiply(x1, x3)
add_result = tf.add(x2, x3)
sub_result = tf.subtract(mul_result, add_result)

print("add_result = {}".format(add_result))
print("mul_result = {}".format(mul_result))
print("sub_result = {}".format(sub_result))

add_result = 5
mul_result = 10
sub_result = 5

In [2]:
print(tf.__version__)

2.6.0

In [18]:
x = tf.Variable(0)

for i in range(1, 11):
  x = x + i
  print("value: {}".format(x))

print("total sum : {}".format(x))

value: 1
value: 3
value: 6
value: 10
value: 15
value: 21
value: 28
value: 36
value: 45
value: 55
total sum : 55

In [23]:
x1 = tf.Variable(tf.random.normal((1,1), mean=0, stddev=1.0))
x2 = tf.Variable(tf.random.normal((1,1), mean=0, stddev=1.0))
x3 = tf.Variable(tf.random.normal((1,1), mean=0, stddev=1.0))

mul_result = tf.multiply(x1, x3)
add_result = tf.add(x2, x3)
sub_result = tf.subtract(mul_result, add_result)

print("add_result = {}".format(add_result))
print("mul_result = {}".format(mul_result))
print("sub_result = {}".format(sub_result))

add_result = [[0.79222167]]
mul_result = [[0.65955764]]
sub_result = [[-0.13266402]]

In [29]:
x1 = tf.Variable([[1,2],[3,4]])

print("x1 = {}".format(x1))
print("x1 = {}".format(x1.shape))

x1 = <tf.Variable 'Variable:0' shape=(2, 2) dtype=int32, numpy=
array([[1, 2],
       [3, 4]], dtype=int32)>
x1 = (2, 2)

In [31]:
x1_reshape = tf.reshape(x1, [1,4])

print("x1 = {}".format(x1_reshape))
print("x1 = {}".format(x1_reshape.shape))

x1 = [[1 2 3 4]]
x1 = (1, 4)