In [ ]:
# pandas를 활욜하여 데이터 처리
import pandas as pd

dict_data = {'a' : 1, 'b' : 2, 'c' : 3}  # 인덱스와 데이터값을 둘다표시가능

ar = pd.Series(dict_data)

print(type(ar))
print("\n")
print(ar)

print(dict_data['a']," : ",ar['a']," : ",ar[0])  # ar에서 'a' 인덱스명
print(ar[['a','c']])
ar[1:2]  # 인뎃스 첨자로 접근하면 마지막 첨자 위치 데이터 불포함 (숫자로가면 미포함)
ar['a' : 'c'] #인덱스명으로 접근하면 마지막 데이터 포함
# 딕셔너리를 시리즈로 변경 : 딕셔너리의 키가 시리즈의 인덱명이 됨
# 접근은 인덱스명 또는 인덱스 첨자로 접근 가능

In [3]:
dict_data = {'a' : [1,2,3], 'b' : [4,5,6], 'c' : [7,8,9]}  # 인덱스와 데이터값을 둘다표시가능

df = pd.DataFrame(dict_data)
print(df)

#index명을 부여
df1 = pd.DataFrame(dict_data, index=["idx1","idx2","idx3"], columns=['a','b','c'])
print("df1 : ",df1)

a_var = [[1,2,3],[4,5,6],[7,8,9]]
df2 = pd.DataFrame(a_var,index=["idx1","idx2","idx3"],columns=['a1','b1','c1'])
df2  # index와 columns 명을 줄려면 리스트여야된다 자료값이 만이필요하므로

df2.rename(index={'idx1':'ix1','idx2':'ix2','idx3':'ix3'}, inplace=True)
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
df1 :        a  b  c
idx1  1  4  7
idx2  2  5  8
idx3  3  6  9

     a1  b1  c1
ix1   1   2   3
ix2   4   5   6
ix3   7   8   9

In [4]:
#행인뎃스명 변경   : object.index = 새로운 행 인덱스 배열
#컬럼 인뎃스명 변경 : object.columns = 새로운 컬럼명 배열
import pandas as pd
a_var = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(a_var)
df

df.index = ['a','b','c']
df.columns = ['c1','c2','c3']
df1 = df
print("df1 : ",df1)
df1.rename(index = {'a':'ida','b':'idb'}, inplace=True)
print("df1 : :")
print(df1)

#행 삭제 axis = 0 , 열 삭제 axis =1
df2 = df1
print(df1.drop(ida, axis=0, inplace=True) # axis=0

SyntaxError: unexpected EOF while parsing (<ipython-input-4-8c8b6fef3319>, line 18)

In [ ]:
df1 = df #df의 주소를 복사
df2 = df[:] #df 값을 복사, df와 df2가 각기 다른 자료로 처리 가능
df.drop(0, axis=0, inplace=True)
df

In [ ]:
import pandas as pd
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print('\n')

df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

In [ ]:
import pandas as pd
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

#df2 = df[:]
df2 =df.copy()
df2.drop('우현', inplace=True)
print(df2)
print('\n')

#df3 = df[:]
df3 =df.copy()
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

In [ ]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

print(df.loc["서준"])
print(df.iloc[0])

print(df.loc['서준':'인아']) #['인아']의 자료도 포함
print(df.iloc[0:2]) # 첨자 인데스 2의 자료는 포함하지 않음

print(df['수학'])  # 컬럼 인뎃스로 검색
print(df.수학)
print(df[['수학','영어']]) #여러가지 찾을때는 [[]] 두번 사용한다 #컬럼 인뎃스로 검색

df.loc["과학"] = [100,90,80,88] #row로 데이터를 추가하는경우 df.loc[인덱스명] = [값, ...]
df

In [ ]:
#문 키보드에서 이름과 국어 영어 수학 점수를 입력받아 이름을 인덱스로 정장하는 score dataframe릏생성
#결과를 화면에 출력 d\이름에 'quit'입력되면 입력 종료

In [ ]:
def input_score():
    scores = input("국어 영어 수학 점수 입력 > ").split()
    for i, score in enumerate(scores):
        scores[i] = int(score)
    return scores

In [2]:
import pandas as pd

df = pd.DataFrame(columns=["국어","영어","수학"]) #컴럼명만 부여한 데이터프레임 생성

while True:
    name = input("이름 입렵 quit 종료 > ")
    if name == "quit":
        break
        
    score = input_score()
    df.loc[name] = score #입력된 name 인덱스로 점수 추가
    
df 

#검색하고자 하는 이름을 입력받아 성적과 성적의 합계 출력
#데이타 출력
# 컴럼을 접근하는 방법 df.컬럼명 또는 df[컬럼명]
# row를 접근하는 방법 df.iloc[인덱스], df.iloc[[1,3,5]] df.iloc[0:3], 
#           df.loc['aa':'cc'] df.loc['aa','cc']
# df.iloc[시작 : 끝  : 간격 ]
# df.loc['인덱스명, 컬럼명],      df.iloc[index 번호, col 열번호]

이름 입렵 quit 종료 > 이수만
국어 영어 수학 점수 입력 > 80 90 100
이름 입렵 quit 종료 > 김민종
국어 영어 수학 점수 입력 > 70 80 90
이름 입렵 quit 종료 > quit

     국어  영어   수학
이수만  80  90  100
김민종  70  80   90

In [11]:
def input_score():
    scores = input("국어 영어 수학 점수 입력 > ").split()
    for i, score in enumerate(scores):
        scores[i] = int(score)
    return scores

import pandas as pd

df = pd.DataFrame(columns=["국어","영어","수학"]) #컴럼명만 부여한 데이터프레임 생성

while True:
    name = input("이름 입렵 quit 종료 > ")
    if name == "quit":
        break
        
    score = input_score()
    df.loc[name] = score #입력된 name 인덱스로 점수 추가
    
df

이름 입렵 quit 종료 > 이수만
국어 영어 수학 점수 입력 > 80 90 100
이름 입렵 quit 종료 > 김민종
국어 영어 수학 점수 입력 > 50 60 70
이름 입렵 quit 종료 > quit

     국어  영어   수학
이수만  80  90  100
김민종  50  60   70

In [12]:
search_name = input("검색할 이름 입력 :")

for name in list(df.index):
    if search_name == name:
        kor = df.loc[search_name, '국어']
        eng = df.loc[search_name, '영어']
        math = df.loc[search_name, '수학']
        print("{} : {}, {}, {}, total = {}".format(search_name,kor,eng,math,kor+eng+math))

검색할 이름 입력 :김민종
김민종 : 50, 60, 70, total = 180

In [13]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [14]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [15]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print('\n')

85
85

In [21]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수) 
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]] # 인덱스 검색
print(d)
e = df.loc['서준', '음악':'체육'] #음악부터 체육까지
print(e)
f = df.iloc[0, 2:]
print(f)
print('\n')
df["국어"] = 80
print(df)
df.loc["행추가"] = 0
df

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
국어     80
Name: 서준, dtype: int64


    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

     수학  영어   음악   체육  국어
이름
서준   90  98   85  100  80
우현   80  89   95   90  80
인아   70  95  100   90  80
행추가   0   0    0    0   0

In [22]:
# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수) 
g = df.loc['서준':'우현','음악':'체육']
print(g)

    음악   체육
이름
서준  85  100
우현  95   90

In [ ]:
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j

In [ ]:
문)1. 이름을 입력받아 데이터프레임의 인덱스로 저장하고
      키와 몸무게를 입력 받아 저장합니다
      키와 몸무게가 float이 입력되지 않으면 다시 입력 하시고
      이름에 'q'가 입력되면 입력 종료
   2. 찾고자 하는 이름을 입력받아 키와 몸무게를 출력하고
      키와 몸무게를 다시 입력받아 기존의 값을 변경하세요
   3. 평균보다 적은 키를 가진 사람의 이름과 키를 출력하세요

In [29]:
def input_score():
    scores = input("키 몸무게 입력 > ").split()
    for i, score in enumerate(scores):
        scores[i] = float(score)
    return scores

import pandas as pd

df = pd.DataFrame(columns=["키","몸무게"])

while True:
    name = input("이름 입력 q 종료 > ")
    if name == "q":
        break
        
    score = input_score()
    df.loc[name] = score 
    
df

이름 입력 q 종료 > 김덕배
키 몸무게 입력 > 160.5 65.5
이름 입력 q 종료 > 김나희
키 몸무게 입력 > 155.5 45.5
이름 입력 q 종료 > 김수미
키 몸무게 입력 > 157.5 47.5
이름 입력 q 종료 > q

         키   몸무게
김덕배  160.5  65.5
김나희  155.5  45.5
김수미  157.5  47.5

In [32]:
a = df.loc['김덕배':'김나희','키':'몸무게']
print(a)

         키   몸무게
김덕배  160.5  65.5
김나희  155.5  45.5

In [38]:
def input_dataframe(df):
    while True:
        name = input("이름 입력 quit 종료 >  ")
        if name == "quit":
            break

        data = input_data()
        df.loc[name] = data  # 입력된 name 인덱스로 데이터 추가

In [39]:
def input_data():
    while True:
        values = input("키와 몸무게 ex) 170 51.2 > ").split()
        if len(values) == 2:
           break
        else:
            print("키와 몸무게를 형식에 맞게 입력하세요 ")
           
    for i, value in enumerate(values):
        values[i] = float(value)
    return values

In [40]:
def search_data(name, df):
    for i, idx_name in enumerate(list(df.index)):
        if name == idx_name:
            return i

def print_data(idx, df):
    print("{} : {}, {}".format(df.iloc[idx], df.iloc[idx,0], df.iloc[idx,1]))

In [41]:
import pandas as pd

df = pd.DataFrame(columns=["키","몸무게"])

input_dataframe(df)  # 자료 입력
print("1 : ")
print(df)

이름 입력 quit 종료 >  김덕배
키와 몸무게 ex) 170 51.2 > 170 52.2
이름 입력 quit 종료 >  김수미
키와 몸무게 ex) 170 51.2 > 165 52.4
이름 입력 quit 종료 >  김장수
키와 몸무게 ex) 170 51.2 > 175 65.4
이름 입력 quit 종료 >  quit
1 :
         키   몸무게
김덕배  170.0  52.2
김수미  165.0  52.4
김장수  175.0  65.4

In [43]:
# 검색하고자 하는 이름 입력
search_name = input("검색할 이름 입력 : ")
idx = search_data(search_name, df)
if idx < len(df):
    print_data(idx, df)
    value = input_data() #  키와 몸무게 입력
    df.iloc[idx] = value
print("2 : ")
df

검색할 이름 입력 : 김덕배
키      165.0
몸무게     52.4
Name: 김덕배, dtype: float64 : 165.0, 52.4
키와 몸무게 ex) 170 51.2 > 180 65.5
2 :

         키   몸무게
김덕배  180.0  65.5
김수미  165.0  52.4
김장수  175.0  65.4

In [44]:
#평균키보다 검적은 키를 가진 사람의 이름과 키를 출력

avg_height = sum(df.키)/len(df.키)
print(avg_height)
for i, height in enumerate(df.키):
    if height < avg_height:
        print("3 => {} : {}".format(df.iloc[i], df.iloc[i,0]))

173.33333333333334
3 => 키      165.0
몸무게     52.4
Name: 김수미, dtype: float64 : 165.0